


<script>
  $(function(){
      $(".headerhome").typed({
        strings: ["Meet Your New Personal Assistant."],
        typeSpeed: 80
      });
  });
</script>


<br><br><br>
<center>
 
	<span class="headerhome"></span>



<br>
	<p class="subheader">
	#Everyone'sConcierge
	</p>

	<br>

	<%= button_to 'Join', signup_path, :method => 'get', class: 'btn btn-lg btn-primary' %>

</center>