<center>

	<img src='http://upload.wikimedia.org/wikipedia/commons/1/13/Daniel_Ingram_Profile.png' style= 'width:150px;height:150px;border-radius:20px;'><br>



	<h2><span class='color'> Welcome</span> <%= current_user.first_name %></h2>


	<h3> SMS: 678.xxx.xxxx </h3><br>
	Billing  |   What You Can Do Next.   |   Pages 

	<br><br><br><br>
<div class = 'container'>
	<table class="table table-hover" style = 'width: 70%'>
	<tr>
		<th>Service</th>
		<th>Charge</th>
		<th>Feedback</th>
		<th>Tip</th>
	</tr>
	 <tr>
	    <td>Ferrero Rochet Choclate Delivery</td>
	    <td>$30.00</td> 
	    <td>
					    	<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Leave Feedback</button>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <center><h4 class="modal-title">Leave Feedback</h4></center>
				      </div>
				      <div class="modal-body">
				        <p>Some text in the modal.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
				      </div>
				    </div>

				  </div>
				</div>
		</td>
	    <td>
	    				    	<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Leave Tip</button>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <center><h4 class="modal-title">Leave Tip</h4></center>
				      </div>
				      <div class="modal-body">
				        <p>Thanks!</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
				      </div>
				    </div>

				  </div>
				</div>

	    </td>
	  </tr>
	</table>
</div>


</center>


